<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>問い合わせフォーム</title>
		<link th:href="@{/css/style.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
		<link th:href="@{/webjars/bootstrap-icons/font/bootstrap-icons.css}" rel="stylesheet">
		<script th:src="@{/webjars/bootstrap/js/bootstrap.bundle.min.js}"></script>
 	</head>
	<body>
		<div id="header">
			<h4>
				<a th:href="@{/ContactForm}">問い合わせフォーム</a>
			</h4>
		</div>
		<div class="container-fluid mt-3">
			<div class="row">
				<div class="col-sm-10 main mx-auto">
					<div th:if="${flash}" th:text="${flash.getMessage()}" th:class="${'alert alert-' + flash.getKey()}" role="alert"></div>
				</div>
				<div layout:fragment="content" class="col-sm-10 main mx-auto"></div>
			</div>
		</div>
		<div id="footer" class="border-top my-5 pt-4">
			<div>All rights reserved by Number One Solutions</div>
			<div><a href="http://no1s.biz/">会社</a></div>
		</div>
	</body>
</html>