<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">
  <head>
    <meta charset="UTF-8" th:remove="tag">
  </head>
  <body>
    <div layout:fragment="content">
      <form th:action="@{/ContactForm/confirm}" th:object="${form}" method="post">
        <ul th:if="${#fields.hasErrors()}" class="error_list">
          <li th:each="err : ${#fields.errors('*')}" th:text="${err}"></li>
        </ul>
        <h2>入力画面</h2>
        <table>
          <tr>
            <th>名前</th>
            <td><input type="text" th:field="*{name}"></td>
          </tr>
          <tr>
            <th>年齢</th>
            <td><input type="text" th:field="*{age}"></td>
          </tr>
          <tr>
            <th>都道府県</th>
            <td><input type="text" th:field="*{prefecture}"></td>
          </tr>
          <tr>
            <th>市区町村</th>
            <td><input type="text" th:field="*{address1}"></td>
          </tr>
          <tr>
            <th>番地</th>
            <td><input type="text" th:field="*{address2}"></td>
          </tr>
          <tr>
            <th>コメント</th>
            <td><textarea rows="4" cols="40" th:field="*{comment}"></textarea></td>
          </tr>
        </table>
        <div>
          <input type="submit" value="確認画面へ">
        </div>
      </form>
    </div>
  </body>
</html>
